<p>Welcome to my Chess Website</p>
<p>Please enter the starting position.</p>
<p>If you would like the default starting position leave the box blank</p>

    <div>
                <form method='post' id='fen'>
                        <div class="form-group">
                                <input type="text" class="form-control" name="fen" placeholder="Enter Starting Position (FEN)">
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </form>
    </div>